body {
    color: white;
    background: #0828cc;
    border: calc(var(--body-border-width, 20px) * 1 / 1 + 0px) solid transparent;
    font-family: sans-serif;
   
}

.bold {
    font-weight: bold;
}

header {    
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* position: fixed; */
        top: 0;
        right: 0;
        left: 0;
        padding: calc(var(--body-border-width, 20px) * 2 / 1 + 0px)
}

.logo-wrapper {
    cursor: pointer;
    display: block;
    position: relative;
    white-space: nowrap;    
   

}

.top-left-logo {
    height: 64px;
    width: 64px;
}

.logo-text {    
    position: relative;
    bottom: 25px;
    font-size: 23px;
}

.main-nav {
    display:flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

nav li {
        cursor: pointer;
        list-style-type: none;
        font-size: 11px;
        line-height: 1.7;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;  
        margin-right: 42.5px;   
          
        

}

 nav li:hover {
     color: white;
     opacity: .5;
     transition: all .03s; 

}

.subscribe-btn {
        cursor: pointer;           
        display: inline-block;  
        vertical-align: middle;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 18px 39px;
        border: 1px solid white;
        border-radius: 100em;       
        background: var(--secondary, #0828CC);
        font-size: 11px;
        }

.subscribe-btn:hover {
    background-color: white;
    color: #0828CC;
    transition: all .3s;
}

.main-container {              
        display: block;  
        margin: 0 auto; 
        margin-bottom: 10%;
        color: #fff;
        width: 100%;
        font-size: 14px;
        line-height: inherit;
        text-align: center;
        padding: 32.5px;
        box-sizing: border-box;    
        height: 377px;    

}

.center-logo { 
    display: block;
    margin: 0 auto;     
    height: 150px;
    width: 150px;
    
}

h1 {
    margin: 20px auto;
    font-size: 56px;
    line-height: 1.22;
    letter-spacing: -.0005em;
    font-weight: 700;
}

p {
    display: block;
    font-size: 16px;
    line-height: 2.3;
    margin: 0 auto;

}

.call-to-action {
    background-color: white;
    color: #0828CC;    
    margin-top: 27px;
    cursor: pointer;
    display: inline-block;      
    vertical-align: middle;    
    text-align: center;
    text-decoration: none;
    padding: 18px 39px;
    border: 1px solid var(--secondary, #0828CC);
    border-radius: 100em;
    font-size: 11px;
    letter-spacing: .5px;
    

}

.call-to-action:hover {
    color: white;
    background-color: #0828CC;
    border: 1px solid white;
    transition: all .3s;
    
}

.vertical-left-text {   
    display: block;
    transform: rotate(270deg);
    transform-origin: left top 0;
    float: left;
}

.vertical-left-text:hover{
    color: #f80051;
    transition: all .3s;

}


.scroll {
    float: clear;
    margin: 0 auto;
    display: block;
    text-align: center;   
    line-height: inherit;
    padding: 20px;
    
}


.share-nav {    
    float: right;        
    display:flex;
    flex-direction: column;
    height: auto;
    width: auto;
    position:relative;
    bottom: 10.5em;

}

.share {
    
    cursor: pointer;
     border-radius: 50%;
     border: 1px solid white;
     align-items: right;
     justify-content: right;
     height: 40px;
     width: 40px;
     text-align: center;
     padding: 5px;
     margin: 5px;   
    

}

.share:hover {
    color: #0828CC;
    background-color: white;
    transition: all .3s;
}



